# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

*.tlog
*.obj
*.log
*.cache
*.pdb
*.ilk
*.exe
SUCDownMapProject/SUCDownMapProject/Release/SUCDownMapProject.exe.intermediate.manifest
SUCDownMapProject/SUCDownMapProject/Release/SUCDownMapProject.lastbuildstate
SUCDownMapProject/SUCDownMapProject/Release/SUCDownMapProject.pch
SUCDownMapProject/SUCDownMapProject.suo